html {
  --saturation-factor: 1;

  --info-positive-background: hsla(139,calc(var(--saturation-factor, 1)*47.3%),43.9%,0.1);
  --info-positive-foreground: hsl(139,calc(var(--saturation-factor, 1)*47.3%),43.9%);
  --info-warning-background: hsla(38,calc(var(--saturation-factor, 1)*95.7%),54.1%,0.1);
  --info-warning-foreground: hsl(38,calc(var(--saturation-factor, 1)*95.7%),54.1%);
  --info-danger-background: hsla(359,calc(var(--saturation-factor, 1)*82.6%),59.4%,0.1);
  --info-danger-foreground: hsl(359,calc(var(--saturation-factor, 1)*82.6%),59.4%);
  --status-positive-background: hsl(139,calc(var(--saturation-factor, 1)*47.3%),43.9%);
  --status-positive-text: #fff;
  --status-warning-background: hsl(38,calc(var(--saturation-factor, 1)*95.7%),54.1%);
  --status-danger-background: hsl(359,calc(var(--saturation-factor, 1)*82.6%),59.4%);
  --status-danger-text: #fff;
  --focus-primary: hsl(197,calc(var(--saturation-factor, 1)*100%),47.8%);

  --header-primary: #fff;
  --header-secondary: #b9bbbe;
  --text-normal: #dcddde;
  --text-muted: #72767d;
  --text-link: hsl(197,calc(var(--saturation-factor, 1)*100%),47.8%);
  --text-link-low-saturation: hsl(197,calc(var(--saturation-factor, 1)*100%),52.9%);
  --text-positive: hsl(139,calc(var(--saturation-factor, 1)*66.8%),58.6%);
  --text-warning: hsl(38,calc(var(--saturation-factor, 1)*95.7%),54.1%);
  --text-danger: hsl(359,calc(var(--saturation-factor, 1)*82.6%),59.4%);
  --text-brand: hsl(235,calc(var(--saturation-factor, 1)*86.1%),77.5%);
  --interactive-normal: #b9bbbe;
  --interactive-hover: #dcddde;
  --interactive-active: #fff;
  --interactive-muted: #4f545c;
  --background-primary: #36393f;
  --background-secondary: #2f3136;
  --background-secondary-alt: #292b2f;
  --background-tertiary: #202225;
  --background-accent: #4f545c;
  --background-floating: #18191c;
  --background-nested-floating: #2f3136;
  --background-mobile-primary: #36393f;
  --background-mobile-secondary: #2f3136;
  --background-modifier-hover: rgba(79,84,92,0.16);
  --background-modifier-active: rgba(79,84,92,0.24);
  --background-modifier-selected: rgba(79,84,92,0.32); /* #3e4248 */
  --background-modifier-accent: hsla(0,0%,100%,0.06);
  --info-positive-text: #fff;
  --info-warning-text: #fff;
  --info-danger-text: #fff;
  --info-help-background: hsla(197,calc(var(--saturation-factor, 1)*100%),47.8%,0.1);
  --info-help-foreground: hsl(197,calc(var(--saturation-factor, 1)*100%),47.8%);
  --info-help-text: #fff;
  --status-warning-text: #000;
  --scrollbar-thin-thumb: #202225;
  --scrollbar-thin-track: transparent;
  --scrollbar-auto-thumb: #202225;
  --scrollbar-auto-track: hsl(210,calc(var(--saturation-factor, 1)*9.8%),20%);
  --scrollbar-auto-scrollbar-color-thumb: #202225;
  --scrollbar-auto-scrollbar-color-track: #2f3136;
  --elevation-stroke: 0 0 0 1px rgba(4,4,5,0.15);
  --elevation-low: 0 1px 0 rgba(4,4,5,0.2),0 1.5px 0 rgba(6,6,7,0.05),0 2px 0 rgba(4,4,5,0.05);
  --elevation-medium: 0 4px 4px rgba(0,0,0,0.16);
  --elevation-high: 0 8px 16px rgba(0,0,0,0.24);
  --logo-primary: #fff;
  --control-brand-foreground: hsl(235,calc(var(--saturation-factor, 1)*86.1%),77.5%);
  --control-brand-foreground-new: hsl(235,calc(var(--saturation-factor, 1)*86.1%),77.5%);
  --background-mentioned: hsla(38,calc(var(--saturation-factor, 1)*95.7%),54.1%,0.1);
  --background-mentioned-hover: hsla(38,calc(var(--saturation-factor, 1)*95.7%),54.1%,0.08);
  --background-message-hover: rgba(4,4,5,0.07);
  --background-message-automod: hsla(359,calc(var(--saturation-factor, 1)*82.6%),59.4%,0.05);
  --background-message-automod-hover: hsla(359,calc(var(--saturation-factor, 1)*82.6%),59.4%,0.1);
  --channels-default: #8e9297;
  --guild-header-text-shadow: 0 1px 1px rgba(0,0,0,0.4);
  --channeltextarea-background: #40444b;
  --activity-card-background: #202225;
  --textbox-markdown-syntax: #8e9297;
  --spoiler-revealed-background: #292b2f;
  --spoiler-hidden-background: #202225;
  --deprecated-card-bg: rgba(32,34,37,0.6);
  --deprecated-card-editable-bg: rgba(32,34,37,0.3);
  --deprecated-store-bg: #36393f;
  --deprecated-quickswitcher-input-background: #72767d;
  --deprecated-quickswitcher-input-placeholder: hsla(0,0%,100%,0.3);
  --deprecated-text-input-bg: rgba(0,0,0,0.1);
  --deprecated-text-input-border: rgba(0,0,0,0.3);
  --deprecated-text-input-border-hover: #040405;
  --deprecated-text-input-border-disabled: #202225;
  --deprecated-text-input-prefix: #dcddde;

  --brand-experiment-100: hsl(240,calc(var(--saturation-factor, 1)*77.8%),98.2%);
  --brand-experiment-130: hsl(236,calc(var(--saturation-factor, 1)*87.5%),96.9%);
  --brand-experiment-160: hsl(235,calc(var(--saturation-factor, 1)*84.6%),94.9%);
  --brand-experiment-200: hsl(236,calc(var(--saturation-factor, 1)*83.3%),92.9%);
  --brand-experiment-230: hsl(236,calc(var(--saturation-factor, 1)*87%),91%);
  --brand-experiment-260: hsl(235,calc(var(--saturation-factor, 1)*86.2%),88.6%);
  --brand-experiment-300: hsl(235,calc(var(--saturation-factor, 1)*86.1%),85.9%);
  --brand-experiment-330: hsl(235,calc(var(--saturation-factor, 1)*85.1%),81.6%);
  --brand-experiment-360: hsl(235,calc(var(--saturation-factor, 1)*86.1%),77.5%);
  --brand-experiment-400: hsl(235,calc(var(--saturation-factor, 1)*86.1%),71.8%);
  --brand-experiment-430: hsl(235,calc(var(--saturation-factor, 1)*85.7%),69.8%);
  --brand-experiment-460: hsl(235,calc(var(--saturation-factor, 1)*85.5%),67.5%);
  /*--brand-experiment: hsl(235,calc(var(--saturation-factor, 1)*85.6%),64.7%);*/
  --brand-experiment: rgb(51, 186, 162);
  /*--brand-experiment: rgb(14 167 140);*/
  --brand-experiment-500: hsl(235,calc(var(--saturation-factor, 1)*85.6%),64.7%);
  --brand-experiment-530: hsl(235,calc(var(--saturation-factor, 1)*66.7%),58.8%);
  --brand-experiment-560: hsl(235,calc(var(--saturation-factor, 1)*51.4%),52.4%);
  --brand-experiment-600: hsl(235,calc(var(--saturation-factor, 1)*46.7%),44.1%);
  --brand-experiment-630: hsl(235,calc(var(--saturation-factor, 1)*46.7%),38.2%);
  --brand-experiment-660: hsl(235,calc(var(--saturation-factor, 1)*47.1%),33.3%);
  --brand-experiment-700: hsl(235,calc(var(--saturation-factor, 1)*47%),25.9%);
  --brand-experiment-730: hsl(235,calc(var(--saturation-factor, 1)*46.8%),24.3%);
  --brand-experiment-760: hsl(234,calc(var(--saturation-factor, 1)*46.9%),22.2%);
  --brand-experiment-800: hsl(235,calc(var(--saturation-factor, 1)*47.5%),19.4%);
  --brand-experiment-830: hsl(235,calc(var(--saturation-factor, 1)*47.4%),14.9%);
  --brand-experiment-860: hsl(235,calc(var(--saturation-factor, 1)*46.9%),9.6%);
  --brand-experiment-900: hsl(233,calc(var(--saturation-factor, 1)*50%),3.1%);
  --brand-experiment-05a: hsla(235,calc(var(--saturation-factor, 1)*85.6%),64.7%,0.05);
  --brand-experiment-10a: hsla(235,calc(var(--saturation-factor, 1)*85.6%),64.7%,0.1);
  --brand-experiment-15a: hsla(235,calc(var(--saturation-factor, 1)*85.6%),64.7%,0.15);
  --brand-experiment-20a: hsla(235,calc(var(--saturation-factor, 1)*85.6%),64.7%,0.2);
  --brand-experiment-25a: hsla(235,calc(var(--saturation-factor, 1)*85.6%),64.7%,0.25);
  --brand-experiment-30a: hsla(235,calc(var(--saturation-factor, 1)*85.6%),64.7%,0.3);
  --brand-experiment-35a: hsla(235,calc(var(--saturation-factor, 1)*85.6%),64.7%,0.35);
  --brand-experiment-40a: hsla(235,calc(var(--saturation-factor, 1)*85.6%),64.7%,0.4);
  --brand-experiment-45a: hsla(235,calc(var(--saturation-factor, 1)*85.6%),64.7%,0.45);
  --brand-experiment-50a: hsla(235,calc(var(--saturation-factor, 1)*85.6%),64.7%,0.5);
  --brand-experiment-55a: hsla(235,calc(var(--saturation-factor, 1)*85.6%),64.7%,0.55);
  --brand-experiment-60a: hsla(235,calc(var(--saturation-factor, 1)*85.6%),64.7%,0.6);
  --brand-experiment-65a: hsla(235,calc(var(--saturation-factor, 1)*85.6%),64.7%,0.65);
  --brand-experiment-70a: hsla(235,calc(var(--saturation-factor, 1)*85.6%),64.7%,0.7);
  --brand-experiment-75a: hsla(235,calc(var(--saturation-factor, 1)*85.6%),64.7%,0.75);
  --brand-experiment-80a: hsla(235,calc(var(--saturation-factor, 1)*85.6%),64.7%,0.8);
  --brand-experiment-85a: hsla(235,calc(var(--saturation-factor, 1)*85.6%),64.7%,0.85);
  --brand-experiment-90a: hsla(235,calc(var(--saturation-factor, 1)*85.6%),64.7%,0.9);
  --brand-experiment-95a: hsla(235,calc(var(--saturation-factor, 1)*85.6%),64.7%,0.95);

  --nftygreen: rgb(51, 186, 162);
}



a {
  /*color: hsl(197,calc(var(--saturation-factor, 1)*100%),47.8%) !important;*/
  color: var(--brand-experiment);
  text-decoration: none;
}


.app {
  grid-template-columns: 312px 1fr;
}
.main {
  background-color: var(--background-primary);
}
.topbar {
  background-color: var(--background-primary);
  box-shadow: var(--elevation-low);
}
.left {
  grid-template-columns: 72px 1fr;
  grid-template-rows: 50px 1fr;
}





.profile {
  background-color: var(--background-secondary);
  box-shadow: var(--elevation-low);
}
.profile__left {
  max-width: 50px;
  min-width: 50px;
}
.profile__avatar {
  width: 32px;
  height: 32px;
  clip-path: none;
  border-radius: 100%;
  transition: .1s ease;
}
.profile:hover .profile__avatar {
  opacity: 0.8;
}
.profile__blockie {
  width: 32px;
  height: 32px;
  clip-path: none;
  border-radius: 100%;
}
.profile__background {
  display: none;
}
.profile__heading {
  color: var(--text-normal);
  font-size: 13px;
  margin-bottom: -4px;
}
.profile__subheading {
  color: var(--header-secondary);
  font-size: 12px;
}
.profile__right {
  padding: 0 13px 0 0;
}
.profile__setting {
  color: var(--header-secondary) !important;
  padding: 6px;
  height: auto;
  margin-right: -4px;
  border-radius: 4px;
  transition: .1s ease;
}
.profile__setting:hover {
  background-color: var(--background-modifier-selected);
}



.communities {
  width: 72px;
  background-color: var(--background-tertiary);
}
.communities__item--loading,
.communities__item>img,
.communities__item>svg {
  border-radius: 100%;
  max-height: 45px;
  max-width: 45px;
  min-height: 45px;
  min-width: 45px;
}
.comunities-item {
  transition: .15s ease;
}
.communities__item.active>img,
.communities__item.active>svg {
  margin-left: -4px;
}
.communities__item svg rect {
  fill: var(--background-primary);
}
.communities__item.active {
  margin-left: 0;
}
.communities__item.active>img,
.communities__item.active>svg {
  margin-left: 0;
}
.communities__item:hover {
  background-color: var(--background-primary);
  border-radius: 15px;
  padding: 8px;
  width: 60px;
  margin: 0px;
}
.communities__item.active:hover {

}
.communities__unread {
  height: 9px;
  top: 26px;
  left: -7px;
  background-color: var(--header-primary);
  border: none;
}
.communities__item:hover .communities__unread {
  left: -13px;
}
.communities__item.active>.communities__unread {
  background-color: transparent;
}
.communities__tooltip {
  border-radius: 1rem !important;
}



.rooms {
  background-color: var(--background-secondary);
}
.rooms__name :nth-child(1) {
  font-size: 1.3rem;
}
.rooms__link {
  color: var(--channels-default);
  font-size: 14px;
  padding: 0px 12px;
  font-weight: 500;
}
.rooms__link.active {
      color: var(--interactive-active);
  background-color: var(--background-modifier-selected);
}
.rooms__link:hover {
  color: var(--interactive-normal);
  background-color: rgba(79,84,92,0.16);
}



.dm-section {
  height: 53px;
  background-color: var(--background-secondary-alt);
}
.dm-section__bg {
  height: 53px;
  width: 284px;
  z-index: 0;
}
.dm-section:hover .dm-section__bg {
  background-color: var(--background-secondary-alt);
}
.dm-section__icon {
  max-height: 40px;
  max-width: 40px;
  min-height: 40px;
  min-width: 40px;
  padding: 8px;
  border-radius: 100%;
  box-shadow: none !important;
  transition: .15s ease-out;
  background-color: var(--background-primary);
}
.dm-section:hover .dm-section__icon {
  background-color: var(--brand-experiment);
  border-radius: 8px;
}
.dm-section svg {
  background-color: var(--background-primary);
  transition: .15s ease-out;
}
.dm-section:hover svg {
  background-color: var(--brand-experiment);
}
.dm-section svg path {
  fill: var(--text-normal);
}
.dm-section__content {
  z-index: 1;
}
.dm-section__user {
  color: var(--text-normal);
  font-size: 14px;
  font-weight: bold;
}
.dm-section__text>p {
  color: var(--header-secondary);
  font-size: 12px;
}



.topbar__top {
  height: 52px;
}
.topbar__header {
  color: var(--text-normal);
  cursor: default;
}
.topbar__header:hover {
  text-decoration: none;
}
.topbar__room-description {
  font-size: 14px;
  color: var(--text-muted);
  font-weight: normal;
}
.btn__gm {
  color: var(--text-normal);
  border-radius: 4px;
}
.topbar__indicators {
  color: var(--text-normal) !important;
  border-radius: 4px;
}
.topbar__indicators.active,
.topbar__indicators:hover {
  background-color: var(--background-modifier-selected);
  transition: .1s ease;
}
.topbar__indicators svg path {
  color: var(--text-normal);
}
.topbar__bottom {
  height: 38px;
}
.topbar__tab {
  color: var(--text-normal);
  margin: 0 10px;
}
.topbar__tab:hover,
.topbar__tab:active {
  background-color: var(--background-modifier-selected);
  transition: .1s ease;
}
.topbar__tab svg {
  color: var(--text-normal);
}
.topbar__tabs-line {
  background-color: var(--background-modifier-accent);
}
.topbar__expand {
  background-color: #3e4248;
  box-shadow: var(--elevation-low);
}
.topbar__expand .message-separator__line--last {
  background-color: var(--text-muted); /*guessed*/
}
.topbar__expand .message-separator__text {
  background-color: #3e4248;
}
.topbar__twitter {
 transition: .1s ease;
}
.topbar__twitter:hover {
  background-color: var(--background-modifier-selected);
}
.roomlock-icon_button {
  background-color: transparent;
  transition: .1s ease;
}
.roomlock-icon_button.active,
.roomlock-icon_button:hover {
  background-color: var(--brand-experiment);
}
.lock-icon path {
  fill: var(--text-normal);
}
.anticon svg {
  color: var(--text-normal);
}
.room-rules_modal {
  background-color: var(--background-tertiary);
  color: var(--text-normal);
}





.message {
  padding: 2px 16px;
  margin-top: 0.9rem;
  transition: .1s ease;
}
.message:hover {
  /*background-color: rgba(4,4,5,0.07);*/
  background-color: #33353a;
}
.message:hover .message__child--combine {
  box-shadow: -17px -2px 0px #33353a, inset 0px 12.5px 0px #33353a;
}
.message__child--combine {
  margin-top: -0.9rem;
}
.message__content {
  margin-left: 12px;
}
.message__child--combine .message__time {
  color: var(--text-muted);
}
.message__avatar {
  z-index: 1;
  max-height: 40px;
  max-width: 40px;
  min-height: 40px;
  min-width: 40px;
  margin: 4px 4px 0 0px;
  -webkit-clip-path: none;
  clip-path: none;
  border-radius: 100%;
}
.message__avatar canvas,
.message__avatar img,
.message__avatar svg {
  left: 0;
  top: 0;
}
.message__avatar:hover {
  box-shadow: none;
  filter: drop-shadow(var(--elevation-medium));
}
.message__text img { 
  width: auto;
}
.message__text p {
  font-size: 14px;
  color: var(--text-normal);
}
.message-reaction__btn {
  border-radius: 8px;
  font-size: 13px;
  background-color: var(--background-secondary);
  color: var(--header-secondary);
}
.message__reply {
  color: var(--header-secondary);
}
.message__reply-text img {
  max-height: 20px;
}
.message__reply-avatar {
  -webkit-clip-path: none;
  clip-path: none;
  margin: 2px 28px 0px 12px;
  border-radius: 100%;
}
.message__reply-avatar>canvas,
.message__reply-avatar>svg {
  
}
.message__reply-avatar>img {
  
}
.message__reply-line {
  z-index: 0;
  top: 18px;
  left: 19px;
  width: 2px;
  background-color: var(--background-accent);
}
.message__reply-username {
  color: var(--header-primary);
}
.message__reply-username:before {
  content: "@";
}
.message__reply-text,
.message__reply-text p {
  color: var(--header-secondary);
}
.message__text--mentions {
  margin-right: 0.25rem;
}

.message-separator {
  padding: 16px;
  opacity: 1;
  margin-bottom: -10px;
}
.message-separator__text {
  color: var(--text-muted);
  font-size: 11.5px;
  font-weight: bold;
  position: absolute;
  left: 50%;
  transform: translate(-50%, 0%);
  background-color: var(--background-primary);
  z-index: 1;
  padding: 5px;
}
.message-separator__line--first {
  display: none;
}
.message-separator__line--last {
  background-color: var(--background-modifier-accent);
}
.message__menu {
  background-color: var(--background-primary);
  border-radius: 4px;
  box-shadow: var(--elevation-stroke);
  border: none;
}
.message__menu button {
  transition: .1s ease;
}
.message__menu button:hover {
  color: var(--interactive-hover);
  background-color: var(--background-modifier-hover);
}

.message-reaction__btn {
  border-radius: 7px;
  margin-right: -4px;
}
.message-reaction__btn.selected {
  background-color: var(--brand-experiment-15a);
  border-color: var(--brand-experiment);
}
.message-reaction__tooltip {
  border-radius: 4px;
}
.message-reaction__tooltip>p {
  font-size: 13px !important;
}



.message-bottom {
  padding-left: 16px;
  padding-right: 16px;
  padding-bottom: 2px;
}
.message-bottom__container {
  background-color: var(--channeltextarea-background);
  border-radius: 8px;
  border: 1px solid var(--channeltextarea-background);
  margin: 0 8px;
}
.message-bottom__reply {
  z-index: 1;
  right: 30px;
  top: -24px;
  width: calc(100% - 60px);
  background-color: var(--brand-experiment);
}
.message-bottom__textarea span {
  font-size: 14.5px;
  padding-bottom: 1px;
}
.message-bottom__textarea span[data-slate-placeholder=true] {
  color: var(--text-muted);
}
.message-bottom__textarea span[data-slate-string=true] {
  color: var(--text-normal);
}
.message-bottom__bottom>button {
  transition: .1s ease;
}
.message-bottom__bottom>button svg {
  color: var(--header-secondary);
}
.message-bottom__bottom>button:hover {
  background-color: transparent;
}
.message-bottom__bottom>button svg {
  transition: .1s ease;
  height: 20px;
  width: 20px;
}
.message-bottom__bottom>button:hover svg {
  color: var(--interactive-hover);
}



.emoji-mart {
  background-color: var(--background-secondary) !important;
}
.emoji-mart-dark .emoji-mart-category-label span {
  background-color: var(--background-secondary);
}
.emoji-mart-dark .emoji-mart-search input {
  background-color: var(--background-tertiary);
}
.emoji-mart-search {
  margin: 14px 8px;
}
.emoji-mart-search input {
  font-size: 15px;
  padding: 8px 25px 8px 10px;
  border: none;
}
.emoji-mart-bar {
  border: none;
}
.emoji-mart-bar:nth-child(1) {
  box-shadow: 0 1px 0 rgb(4 4 5 / 20%), 0 1.5px 0 rgb(6 6 7 / 5%), 0 2px 0 rgb(4 4 5 / 5%);
}
.emoji-mart-bar:nth-child(2) {
  box-shadow: 0 1px 0 rgb(4 4 5 / 20%), 0 1.5px 0 rgb(6 6 7 / 5%), 0 2px 0 rgb(4 4 5 / 5%);
}
.emoji-mart-dark,
.emoji-mart-dark .emoji-mart-bar {
  background-color: var(--background-secondary-alt);
}





.members-list-panel {
  background-color: var(--background-secondary);
  padding: 12px 8px;
  width: 240px;
}
.members-list-panel__search input {
  background-color: var(--background-tertiary);
  padding: 6.42px 6px 6.42px 8px;
  margin-bottom: 12px;
  border-radius: 4px;
  color: var(--text-normal);
}
.members-list-panel__search input::placeholder {
  color: var(--text-muted);
}
.members-list-panel__search svg {
  left: 200px;
  top: 7px;
}


.members-list-panel__search svg path {
  stroke: var(--text-muted);
}
.members-list-panel__user {
  background-color: var(--background-secondary);
  color: var(--channels-default);
  font-size: 15px;
  padding: 5px 8px;
  font-weight: 400;
  margin: 1px 0px;
  max-width: 224px;
}
.members-list-panel__user:hover {
  color: var(--interactive-normal);
  background-color: rgba(79,84,92,0.16);
}
.members-list-panel__avatar {
  -webkit-clip-path: none;
  clip-path: none;
  margin-right: 10px;
}
.members-list-panel__avatar img,
.members-list-panel__avatar video,
.members-list-panel__avatar canvas {
  border-radius: 100%;
}





.timeline-Widget {
  background-color: #2f3136;
}
.SandboxRoot.env-bp-min .timeline-Tweet {
  border-radius: 6px;
  margin: 10px;
}
.timeline-Tweet:hover {
  background-color: #36393f;
}





.user_search {
  width: 100%;
  margin-left: 0;
  margin-top: -9px;
}
.user_search__input {
  border-radius: 4px;
  background-color: var(--background-tertiary);
  color: var(--text-normal);
  padding: 6.42px 6px 6.42px 8px;
}
.user_search__input::placeholder {
  color: var(--text-muted);
}
.user_search__group>svg {
  left: 175px;
  top: 7px;
}
.user_search__group>svg path {
  stroke: var(--text-muted);
}
.user_search__results {
  z-index: 1;
  border-radius: 4px;
  background-color: var(--background-tertiary);
  color: var(--text-muted);
}
.user_search__item {
  padding: 4px 8px;
  font-size: 14px;
}
.user_search__item:hover {
  background-color: #36393f;
  color: var(--text-normal);
  border-radius: 4px;
}





/* dms view */
.app.transactions .topbar {
  height: 50px !important;
  max-height: none;
  min-height: auto;
}
.topbar__tab_transactions___active,
.topbar__tab_transactions___active:hover {
  background-color: var(--background-secondary);
  transition: .1s ease;
}
.transactions .topbar__buttons {
  margin-bottom: -16px;
}
.app.transactions .rooms__name :nth-child(1) {
  font-size: 14px;
}
.app.transactions .rooms__link {
  padding: 5px 12px;
}
.app.transactions .rooms__user_avatar {
  -webkit-clip-path: none;
  clip-path: none;
  border-radius: 100%;
  max-height: 32px;
  max-width: 32px;
  min-height: 32px;
  min-width: 32px;
}
.app.transactions .rooms__user_avatar img,
.app.transactions .rooms__user_avatar video,
.app.transactions .rooms__user_avatar svg,
.app.transactions .rooms__user_avatar canvas {
  max-height: 32px;
  max-width: 32px;
  min-height: 32px;
  min-width: 32px;
}
.transactions-panel__username{
  color: var(--text-normal);
  margin-right: 5px;
}
.transactions-panel__username:after {
  font-weight: lighter;
}
.transactions-panel,
.transactions-panel__top,
.transactions-panel__row:first-child,
.transactions-panel__bottom {
  background-color: var(--background-secondary);
  color: var(--channels-default);
}
.transactions-panel {
  grid-template-rows: 50px 1fr 8px;
}
.transactions-panel__top {
  box-shadow: var(--elevation-low);
  font-size: 14px;
}
.transactions-panel__center {
  padding: 0 8px 8px;
}
.transactions-panel__row:first-child {
  padding: 12px 8px;
  color: var(--channels-default);
}
.transactions-panel__row {
  padding: 12px 8px;
  font-size: 14px;
}
.transactions-panel__row:hover {
  color: var(--interactive-normal);
  background-color: rgba(79,84,92,0.16);
}





/*settings view*/
.user-settings__sidebar {
  background: var(--background-secondary);
}
.user-settings__topbar {
  background-color: var(--background-primary);
  box-shadow: var(--elevation-low);
}
.user-settings__main {
  background-color: var(--background-primary);
}
.user-settings__topbar-save,
.user-settings__change-photo {
  background-color: var(--brand-experiment);
  border-radius: 3px;
  padding: 6px 14px;
  font-weight: 500;
  font-size: 13px;
  height: 32px;
  min-width: 60px;
  min-height: 32px;
  color: #fff;
}
.user-settings__change-photo>div {
  -webkit-clip-path: none;
  clip-path: none;
  display: none;
}
.user-settings__main-heading {
  color: var(--header-primary);
}
.user-settings__main-text--1,
.user-settings__main-text--2 {
  color: var(--text-normal);
  font-size: 14px;
  margin-bottom: 20px !important;
}
.user-settings__nft-viewer>div,
.user-settings__nft-picker {
  background-color: var(--channeltextarea-background);
}
.user-settings__search-nfts input,
.user-settings__main-about-textarea,
.user-settings__option input,
.user-settings__select,
.user-settings__option>div>span {
  border: 1px solid var(--channeltextarea-background);
  background-color: var(--channeltextarea-background);
  color: var(--text-normal);
  border-radius: 4px;
  font-size: 14px;
}
.user-settings__main-about-textarea {
  padding: 10px 14px;
}
.user-settings__option-visible {
  color: var(--text-normal);
  transition: .1s ease;
}
.user-settings__option-visible:hover {
  background-color: var(--channeltextarea-background) !important;
  border-radius: 4px !important;
}
.user-settings__main-sync-ens button {
  background-color: var(--background-primary);
  border-radius: 4px;
  padding: 6px;
  transition: .1s ease;
}
.user-settings__main-sync-ens>button>svg {
  background-color: var(--background-primary);
  transition: .1s ease;
}
.user-settings__main-sync-ens button:hover,
.user-settings__main-sync-ens>button:hover >svg {
  background-color: var(--channeltextarea-background);
  border-radius: 4px !important;
}
.user-settings__main-sync-ens>button>svg path {
  fill: var(--text-normal);
}



.profile-modal {
  background-color: var(--background-tertiary);
  color: var(--text-normal);
  box-shadow: none;
}
.profile-modal__header>img,
.profile-modal__header>video {
  display: none;
}
.profile-modal__avatar,
.profile-modal__avatar-border {
  -webkit-clip-path: none;
  clip-path: none;
  border-radius: 100%;
}
.profile-modal__ens {
  color: var(--text-normal) !important;
}
.profile-modal__ens-container:hover .profile-modal__ens {
  background-color: transparent;
  color: #fff !important;
}
.profile-modal__time {
  color: var(--text-muted);
}



.user-settings__sidebar {
  padding: 46px 14px 46px 100px;
  background: var(--background-secondary);
}
.user-settings__sidebar-button {
  height: auto;
  padding: 6px 10px;
  margin-bottom: 2px;
  border-radius: 4px;
  color: var(--interactive-normal);
  font-size: 14px;
  font-weight: 600;
}
.user-settings__sidebar-button:hover,
.user-settings__sidebar-button.active:hover {
  background-color: var(--background-modifier-hover);
  color: var(--interactive-hover);
}
.user-settings__sidebar-button.active {
  background-color: var(--background-modifier-selected);
  color: var(--interactive-active);
}
.user-settings__sidebar-button--red {
  color: hsl(359, calc(var(--saturation-factor, 1) * 82.6%), 59.4%);
}






